<div class="form_title">Academic Course management</div>
<div class="generalAdminLinkContainer">

<div class="tableContainer">
    <div class="tableHeading">
        <span class="tableHeading10">SN</span>
        <span class="tableHeading1">LINK NAME</span>
        <span class="tableHeading1">NAVIGATION</span>
    </div>
    <div class="tableData">
        <span class="tableHeading10">1</span>
        <span class="tableHeading1">Course</span>
        <span class="tableHeading1"><a href="{% url 'admin_add_course' %}" class=" generalAdminBtn ajax_link">Add Course</a></span>
    </div>
    <div class="tableData">
        <span class="tableHeading10">2</span>
        <span class="tableHeading1">Manage Courses</span>
        <span class="tableHeading1"><a href="{% url 'admin_manage_course' %}" class=" generalAdminBtn ajax_link">Manage Course</a></span>
    </div>
    <div class="tableData">
        <span class="tableHeading10">3</span>
        <span class="tableHeading1">Assign Level Course</span>
        <span class="tableHeading1"><a href="{% url 'admin_assign_level_course' %}" class=" generalAdminBtn ajax_link">Assign Level Course</a></span>
    </div>
    <div class="tableData">
        <span class="tableHeading10">4</span>
        <span class="tableHeading1">Manage Level Course</span>
        <span class="tableHeading1"><a href="{% url 'admin_manage_level_course' %}" class=" generalAdminBtn ajax_link">Manage Level Course</a></span>
    </div>
    <div class="tableData">
        <span class="tableHeading10">5</span>
        <span class="tableHeading1">Course of Study</span>
        <span class="tableHeading1"><a href="{% url 'admin_add_course_of_study' %}" class=" generalAdminBtn ajax_link">Add Course of Study</a></span>
    </div>
    <div class="tableData">
        <span class="tableHeading10">6</span>
        <span class="tableHeading1">Manage Course of Study</span>
        <span class="tableHeading1"><a href="{% url 'admin_manage_course_of_study' %}" class=" generalAdminBtn ajax_link">Manage Course of Study</a></span>
    </div>
  </div>
</div>
