
<div class="generalAdminLinkContainer">

    <div class="tableContainer">
        <div class="tableHeading">
            <span class="tableHeading1">SN</span>
            <span class="tableHeading2">LINK NAME</span>
            <span class="tableHeading5">NAVIGATION</span>
        </div>
        <div class="tableData">
            <span class="tableHeading1">1</span>
            <span class="tableHeading2">Faculty</span>
            <span class="tableHeading5"><a href="{% url 'add_faculty' %}" class=" generalAdminBtn ajax_link">Add faculty</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading1">2</span>
            <span class="tableHeading2">Manage faculty</span>
            <span class="tableHeading5"><a href="{% url 'manage_faculty' %}" class=" generalAdminBtn ajax_link">Manage faculty</a></span>
        </div>
        
        <div class="tableData">
            <span class="tableHeading1">3</span>
            <span class="tableHeading2">Department</span>
            <span class="tableHeading5"><a href="{% url 'add_department' %}" class=" generalAdminBtn ajax_link">Add Department</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading1">4</span>
            <span class="tableHeading2">Manage Department</span>
            <span class="tableHeading5"><a href="{% url 'manage_department' %}" class=" generalAdminBtn ajax_link">Manage Department</a></span>
        </div>
    
      </div>
    </div>
    