<div class="form_title">Department & faculty</div>
<div class="generalAdminLinkContainer">

    <div class="tableContainer">
        <div class="tableHeading">
            <span class="tableHeading10">SN</span>
            <span class="tableHeading1">LINK NAME</span>
            <span class="tableHeading1">NAVIGATION</span>
        </div>
        <div class="tableData">
            <span class="tableHeading10">1</span>
            <span class="tableHeading1">Faculty</span>
            <span class="tableHeading1"><a href="{% url 'admin_add_faculty' %}" class=" generalAdminBtn ajax_link">Add faculty</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading10">2</span>
            <span class="tableHeading1">Manage faculty</span>
            <span class="tableHeading1"><a href="{% url 'admin_manage_faculty' %}" class=" generalAdminBtn ajax_link">Manage faculty</a></span>
        </div>
        
        <div class="tableData">
            <span class="tableHeading10">3</span>
            <span class="tableHeading1">Department</span>
            <span class="tableHeading1"><a href="{% url 'admin_add_department' %}" class=" generalAdminBtn ajax_link">Add Department</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading10">4</span>
            <span class="tableHeading1">Manage Department</span>
            <span class="tableHeading1"><a href="{% url 'admin_manage_department' %}" class=" generalAdminBtn ajax_link">Manage Department</a></span>
        </div>
    
      </div>
    </div>
    