<div class="form_title">Session & Calender</div>
<div class="generalAdminLinkContainer">

    <div class="tableContainer">
        <div class="tableHeading">
            <span class="tableHeading10">SN</span>
            <span class="tableHeading1">LINK NAME</span>
            <span class="tableHeading1">NAVIGATION</span>
        </div>
        <div class="tableData">
            <span class="tableHeading10">1</span>
            <span class="tableHeading1"> Add Academic Calender</span>
            <span class="tableHeading1"><a href="{% url 'admin_add_academic_calender' %}" class=" generalAdminBtn ajax_link">Add Academic Calender</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading10">2</span>
            <span class="tableHeading1">Manage Academic Calender</span>
            <span class="tableHeading1"><a href="{% url 'admin_manage_academic_calender' %}" class=" generalAdminBtn ajax_link">Manage Academic Calender</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading10">3</span>
            <span class="tableHeading1">Aspirant Academic Calender</span>
            <span class="tableHeading1"><a href="{% url 'admin_add_aspirant_academic_calender' %}" class=" generalAdminBtn ajax_link">Add </a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading10">4</span>
            <span class="tableHeading1">Manage Aspirant Academic Calender</span>
            <span class="tableHeading1"><a href="{% url 'admin_manage_aspirant_academic_calender' %}" class=" generalAdminBtn ajax_link">Manage</a></span>
        </div>
        
    
    
      </div>
    </div>
    