
<div class="generalAdminLinkContainer">

<div class="tableContainer">
    <div class="tableHeading">
        <span class="tableHeading1">SN</span>
        <span class="tableHeading2">LINK NAME</span>
        <span class="tableHeading5">NAVIGATION</span>
    </div>
    <div class="tableData">
        <span class="tableHeading1">1</span>
        <span class="tableHeading2">Create New Department School Fees</span>
        <span class="tableHeading5"><a href="{% url 'add_department_school_fees' %}" class=" generalAdminBtn ajax_link">Create</a></span>
    </div>
    <div class="tableData">
        <span class="tableHeading1">2</span>
        <span class="tableHeading2">Add Item to Department School Fees</span>
        <span class="tableHeading5"><a href="{% url 'add_item_to_department_school_fee' %}" class=" generalAdminBtn ajax_link">Click here</a></span>
    </div>
    <div class="tableData">
        <span class="tableHeading1">2</span>
        <span class="tableHeading2">Manage Department School Fees</span>
        <span class="tableHeading5"><a href="{% url 'manage_department_school_fees' %}" class=" generalAdminBtn ajax_link">Click here</a></span>
    </div>
  </div>
</div>
