
<div class="generalAdminLinkContainer">

    <div class="tableContainer">
        <div class="tableHeading">
            <span class="tableHeading1">SN</span>
            <span class="tableHeading2">LINK NAME</span>
            <span class="tableHeading5">NAVIGATION</span>
        </div>
        <div class="tableData">
            <span class="tableHeading1">1</span>
            <span class="tableHeading2">Student</span>
            <span class="tableHeading5"><a href="{% url 'add_student' %}" class=" generalAdminBtn ajax_link">Add student</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading1">2</span>
            <span class="tableHeading2">Manage student</span>
            <span class="tableHeading5"><a href="{% url 'manage_student' %}" class=" generalAdminBtn ajax_link">Manage student</a></span>
        </div>
        
      </div>
    </div>
    