<div class="form_title">School Fees management</div>

<div class="generalAdminLinkContainer">

<div class="tableContainer">
    <div class="tableHeading">
        <span class="tableHeading10">SN</span>
        <span class="tableHeading1">LINK NAME</span>
        <span class="tableHeading1">NAVIGATION</span>
    </div>
    <div class="tableData">
        <span class="tableHeading10">1</span>
        <span class="tableHeading1">Create New Department School Fees</span>
        <span class="tableHeading1"><a href="{% url 'admin_add_department_school_fees' %}" class=" generalAdminBtn ajax_link">Create</a></span>
    </div>
    <div class="tableData">
        <span class="tableHeading10">2</span>
        <span class="tableHeading1">Add Item to Department School Fees</span>
        <span class="tableHeading1"><a href="{% url 'admin_add_item_to_department_school_fee' %}" class=" generalAdminBtn ajax_link">Click here</a></span>
    </div>
    <div class="tableData">
        <span class="tableHeading10">2</span>
        <span class="tableHeading1">Manage Department School Fees</span>
        <span class="tableHeading1"><a href="{% url 'admin_manage_department_school_fees' %}" class=" generalAdminBtn ajax_link">Click here</a></span>
    </div>
  </div>
</div>
