<div class="form_title">Student Course Registration Management</div>
<div class="generalAdminLinkContainer">

    <div class="tableContainer">
        <div class="tableHeading">
            <span class="tableHeading10">SN</span>
            <span class="tableHeading1">LINK NAME</span>
            <span class="tableHeading1">NAVIGATION</span>
        </div>
        <div class="tableData">
            <span class="tableHeading10">1</span>
            <span class="tableHeading1">Approve/Unapprove all current semester Registered Courses</span>
            <span class="tableHeading1"><a href="{% url 'admin_approve_all_course_reg_dashboard' %}" class=" generalAdminBtn ajax_link">Approve</a></span>
        </div>
    </div>
</div>
    