
{% extends 'base.html' %}
{% load static %}


{% block content %}
{% block header %} 
{% endblock header %}





<section class="studentadmin">
    <div class="topstudentadminContainerNav">
        <div class="topstudentadminContainerNavLeft"> 
<h1>Student portal </h1>

        </div>
        <div class="topstudentadminContainerNavRight">
            <h1>Student Dashboard</h1>
            <!-- <a href="{% url 'home'%}" class="btnWhite">Home</a> -->
            {% if messages %}
            <div class="message-container">
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>

    </div>
    
    <div class="studentadminContainer">
        <div class="leftNavContainer">
            <a class="leftNavContainerBtn" href="{% url 'student_portal' %}">
              <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
            <a class="leftNavContainerBtn ajax-link" href="{% url 'course_registration' %}">
              <i class="fas fa-user-plus"></i> Course Registration
            </a>
            <a class="leftNavContainerBtn ajax-link" href="{% url 'student_available_course' %}">
              <i class="fas fa-user-plus"></i> Available Courses
            </a>
            <a class="leftNavContainerBtn ajax-link" href="{% url 'register_courses' %}">
              <i class="fas fa-user-plus"></i> Register Semester Course
            </a>
          
           
            <a class="leftNavContainerBtn" href="{% url 'logout_user' %}">
              <i class="fas fa-briefcase"></i> Logout
            </a>
        </div>
          
        <div class="rightNavContainer" id="rightNavContainer">    

           
          
        </div>
    
       
    </div>


</section>


<script>
    $(document).ready(function() {
      $(".ajax-link").click(function(e) {
        e.preventDefault();  // Stop full page reload
    
        const url = $(this).attr("href");
    
        // Optional: show loading spinner or message
        $("#rightNavContainer").html("<p>Loading...</p>");
    
        // AJAX request
        $.ajax({
          url: url,
          type: "GET",
          success: function(response) {
            $("#rightNavContainer").html(response);
          },
          error: function(xhr) {
            $("#rightNavContainer").html("<p>Error loading content</p>");
          }
        });
      });
    });
    </script>
        <!-- Exluding footer -->
        {% block footer %} 
        {% endblock footer %}
        



{% endblock content%}
