
   
   
   <div class="tableContainer">
      <div class="tableHeading">
          <span class="tableHeading1">SN</span>
          <span class="tableHeading2">Name</span>
          <span class="tableHeading3">Faculty</span>

          <span class="tableHeading3">Edit/Delete</span>
      </div>
      {% if department  %}
            {% for department in department %}
      <div class="tableData">
          <span class="tableHeading1">{{ forloop.counter }}</span>
          <span class="tableHeading2">{{department.name}}</span>
          <span class="tableHeading3">{{department.faculty}}</span>
          <span class="tableHeading3"> 
            <a href="{% url  'edit_department' department.id %}" class="tableHeading5Btn1 ajax_link">Edit</a> - 
            <form method="post" class="ajax_form  ajax_delete_form" action="{% url 'delete_department' department.id %}">
              {% csrf_token %}
              <button type="submit" class="tableHeading5Btn2">Delete</button>
            </form>
          </span>
      </div>

      {% endfor %}
      {% else %}
              <h2>No department available</h2>
      {% endif %}
