<h3 class="form_title">Manage Student | Student List</h3>

<div class="tableContainer">
  <div class="tableHeading">
      <span class="tableHeading1">SN</span>
      <span class="tableHeading2">Full Name</span>
      <span class="tableHeading3">Email</span>
      <span class="tableHeading4">Gender</span>
      <span class="tableHeading5">Link</span>
  </div>

  {% if student_list %}
    {% for student in student_list %}
      <div class="tableData">
          <span class="tableHeading1">{{ forloop.counter }}</span>
          <span class="tableHeading2">{{ student.admin.first_name }} {{ student.admin.last_name }}</span>
          <span class="tableHeading3">{{ student.admin.email }}</span>
          <span class="tableHeading4">{{ student.admin.gender }}</span>
          <span class="tableHeading5"> 
              <a href="{% url 'private_chat' student.admin.id %}" class="tableHeading5Btn1 ajax_link">Message</a> 
          </span>
      </div>
    {% endfor %}
  {% else %}
      <h2>No Student available</h2>
  {% endif %}
</div>
