@use "../base/media"; 

.admin {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-image:linear-gradient(
        90deg, 
        black 0%, 
        black 25%,
        rgba(0, 0, 0, 0.728) 70%,
        black 99%), url("../images/student2.jpg");
        background-size: cover;
        height: 100vh;
        color: whitesmoke;
  
    .topAdminContainerNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      color: #3498db;
      flex-shrink: 0;

      @include media.down("md") {  
       font-size: 12px;
       margin-left: 4rem;
      }
      @include media.down("sm") {  
        padding: 0;
        background-color: white;
           
       }

       &Left{
        @include media.down("sm") {  
          font-size: 12px;
          padding: 0;
          text-align: left;
          width: 100%;
          text-align: center;
          // margin-bottom: -1.5rem;

             
         }
       }
       &Right{
       @include media.down("sm") {  
        display: none;
         }
      
       }
    }
  
    .adminContainer {
      display: flex;
      flex: 1;
      height: calc(100vh - 80px); // Adjust height based on top nav
      overflow: hidden;
   
  
      .leftNavContainer {
        color: #333;
        padding: 1rem;
        flex: 0 0 20%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;


        @include media.down("md") {  
          flex: 0 0 0%;
          overflow-y: hidden;
    
        }
    


      
        .leftNavContainerBtn {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 12px 20px;
          text-decoration: none;
          color: whitesmoke;
          font-size: 14px;
          font-weight: 500;
          border-left: 4px solid transparent;
          transition: 0.2s ease-in-out;
          border-radius: 4px;

      
      
          i {
            font-size: 16px;
          }
      
          &:hover {
            background-color: #e0f7fa;
            border-left: 4px solid #00acc1;
            color: #004d40;
          }
      
          &.active {
            background-color: #b2ebf2;
            border-left: 4px solid #00acc1;
            color: #004d40;
          }

          
        }
      }
      
  
      .rightContentContainer {
        flex: 1;
        padding: 2rem;
        overflow-y: auto;
        height: 100%;

        .adminRightContentRow1Container {
          display: flex;
          gap: 1rem;
          margin-bottom: 2rem;
          flex-direction: row;
          @include media.down("lg") {  
          flex-direction: column;
            
          }

            &Flex1{
              flex: 1;
              

            }
            &Flex2{
              flex: 1;

              
            }
            &Flex3{
              flex: 1;
              
            }
        }
        .adminRightContentRow2Container{
          display: flex;
          flex-direction: row;
          @include media.down("md") {  
            flex-direction: column;
              
            }
  

          .adminRightContentRow2Container1 {
            flex: 1;
            @include media.down("sm") {  
                  margin-bottom: 2rem;                
              }
    
          }

          .adminRightContentRow2Container2{
            flex: 1;


          }

        }
      }
    }
  }
  
.generalAdminLinkContainer{
  border: 2px solid rgba(245, 245, 245, 0.274);
  padding: 5px;

  @include media.down("sm") {  
    padding: 0px;
    border: none;

      
    }

}


// ApexChart 

.kpi-chart-box {
  background: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.07);
  text-align: center;
}

