{% extends 'base.html' %}
{% load static %}



{% block content %}
{% block header %} 
{% endblock header %}




    <section class="admin">
        <div class="topAdminContainerNav">
            <div class="topAdminContainerNavLeft"> 
                <h1>Admin Panel</h1>
            </div>
            <div class="topAdminContainerNavRight">
                <h1>Administrative Dashboard</h1>
                <!-- <a href="{% url 'home'%}" class="btnWhite">Home</a> -->
               
            </div>

        </div>
        
        <div class="adminContainer">
          <!-- Side nav start -->
            <div class="leftNavContainer">
              {% include 'includes/hamburger_nav.html' with nav_links='includes/admin_nav_links.html' %}
            </div>
          <!-- Side nav end -->
                      
            <div class="rightContentContainer" id="ajaxContainer">      

              <!-- R1: KPI Cards -->
              <div class="adminRightContentRow1Container">
                <div class="kpi-chart-box  adminRightContentRow1ContainerFlex1" >
                  <div id="academicStaffKPI"
                       data-value="{{ total_academicstaff }}"
                       data-label="Academic Staff"></div>
                </div>
                <div class="kpi-chart-box adminRightContentRow1ContainerFlex2">
                  <div id="totalStudentsKPI"
                       data-value="{{ total_students }}"
                       data-label="Students"></div>
                </div>
                <div class="kpi-chart-box adminRightContentRow1ContainerFlex3">
                  <div id="nonAcademicStaffKPI"
                       data-value="{{ total_nonacademicstaff }}"
                       data-label="Non-Academic Staff"></div>
                </div>
               
              </div>
              
              <!-- R2: Charts -->
              <div class="adminRightContentRow2Container">
                <!-- Gender Donut Chart -->
                <div class="adminRightContentRow2Container1">
                  <div id="genderPieChart"
                       data-male="{{ male_count }}"
                       data-female="{{ female_count }}">
                  </div>
                </div>
            
                <!-- Department Bar Chart -->
                <div class="adminRightContentRow2Container2">
                  <div id="departmentBarChart"
                       data-labels="{{ department_name|join:',' }}"
                       data-values="{{ student_count|join:',' }}">
                  </div>
                </div>
              </div>
            
              <!-- R3: Reserved for later -->
              <div class="adminRightContentRow3Container"> 
                <!-- Optional: recent activity, chart logs, etc -->
                <p>More stats coming soon...</p>
              </div>
            
            </div>
            
           
        </div>
       
        

    </section>
        <!-- Exluding footer -->
{% block footer %} 
{% endblock footer %}

{% endblock content%}