{% extends 'base.html' %}
{% load static %}



{% block content %}
{% block header %} 
{% endblock header %}




    <section class="admin">
        <div class="topAdminContainerNav">
            <div class="topAdminContainerNavLeft"> 
                <h1>Admin Panel</h1>
            </div>
            <div class="topAdminContainerNavRight">
                <h1>Administrative Dashboard</h1>
                <!-- <a href="{% url 'home'%}" class="btnWhite">Home</a> -->
               
            </div>

        </div>
        
        <div class="adminContainer">
            <div class="leftNavContainer">
                <a class="leftNavContainerBtn" href="{% url 'management_home' %}">
                  <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <a class="leftNavContainerBtn ajax_link"  href="{% url 'academic_course' %}">
                  <i class="fas fa-tachometer-alt"></i> Academic Course
                </a>
                <a class="leftNavContainerBtn ajax_link"  href="{% url 'student_school_fees_management' %}">
                  <i class="fas fa-tachometer-alt"></i> Student School Fees
                </a>
                <a class="leftNavContainerBtn ajax_link"  href="{% url 'session_and_academic_calender' %}">
                  <i class="fas fa-tachometer-alt"></i> Session & Academic Calender
                </a>
                <a class="leftNavContainerBtn ajax_link"  href="{% url 'department_and_faculty' %}">
                  <i class="fas fa-tachometer-alt"></i> Department & Faculty
                </a>
                <a class="leftNavContainerBtn ajax_link"  href="{% url 'student_management' %}">
                  <i class="fas fa-tachometer-alt"></i> Student Management
                </a>
                <a class="leftNavContainerBtn ajax_link"  href="{% url 'academic_staff' %}">
                  <i class="fas fa-tachometer-alt"></i> Academic Staff
                </a>
                <a class="leftNavContainerBtn ajax_link"  href="{% url 'result_and_assessment' %}">
                  <i class="fas fa-tachometer-alt"></i> Result & Assessment
                </a>
                <a class="leftNavContainerBtn" href="{% url 'logout_user' %}">
                  <i class="fas fa-briefcase"></i> Logout
                </a>
                
            </div>
              
            <div class="rightNavContainer" id="ajaxContainer">      
             
                <div class="adminRightNavRow1Container">
                    <a href="{% url 'manage_student'%}" class="rightNavRow1Col1 btnWhite">                       
                        <h2 class="rightNavRow1Col1Text1">Total Students</h2>
                        <h1 class="rightNavRow1Col1Text2">{{total_students}}</h1>
                        <span class="rightNavRow1Col1Text3">Click for More... &raquo;</span>
                    </a>
                    <a href="{% url 'manage_academicstaff'%}" class="rightNavRow1Col2 btnWhite"> 
                        <h2 class="rightNavRow1Col1Text1">Total Academic Staff</h2>
                        <h1 class="rightNavRow1Col1Text2">{{total_academicstaff}}</h1>
                        <span class="rightNavRow1Col1Text3">Click for More... &raquo;</span>
                    </a>
                    <a href="{% url 'nonacademicstaff_list'%}" class="rightNavRow1Col3 btnWhite"> 
                        <h2 class="rightNavRow1Col1Text1">Total NonAcademic Staff</h2>
                        <h1 class="rightNavRow1Col1Text2">{{total_nonacademicstaff}}</h1>
                        <span class="rightNavRow1Col1Text3">Click for More... &raquo;</span>
                    </a>
                </div>
              <!-- end -->
              <div class="adminRightNavRow2Container">
                <div class="adminRightNavRow2Container1">
                  <h1>Student's Gender</h1>
                  <div class="adminRightNavRow2Container1Card">                    
                        <div class="adminRightNavRow2Container1CardMale" style="width: {{ male_percent }}%;">
                          Male {{ male_percent }}%
                        </div>
                        <div class="adminRightNavRow2Container1CardFemale" style="width: {{ female_percent }}%;">
                          Female {{ female_percent }}%
                        </div>
                  </div>
                   
                </div>
                <div class="adminRightNavRow2Container2">
                  grid 2
                 

                </div>

              </div>
              
              
                
              <!-- End -->
            
                <!-- <div class="adminRightNavRow2Container">Row 2
                </div>
          
                <div class="adminRightNavRow3Container"> Row 3
                </div> -->
            </div>
        
           
        </div>


    </section>
        <!-- Exluding footer -->
{% block footer %} 
{% endblock footer %}

{% endblock content%}