{% extends 'base.html' %}
{% load static %}

{% block content%}

<section class="apply">
    <div class="applyNav"></div>
    <div class="applyFrontPageBg">
        <div class="applyFrontPageBgCard">
            <h1 class="applyFrontPageBgText1">Your application journey...</h1>
            <p class="applyFrontPageBgText2">Your journey to joining the CommunityCollege community will look a little different depending on what level of study you're interested in.</p>
        </div>
    </div>
    <div class="studyLinksContainer"> 
        <a href="{% url 'apply_undergraduate'%}" class="studyLinksContainerBtn">How to apply for undergraduate study &raquo;</a>
        <a href="{% url 'apply_undergraduate'%}" class="studyLinksContainerBtn">How to apply for postgraduate study &raquo;</a>
        <a href="{% url 'apply_undergraduate'%}" class="studyLinksContainerBtn">How to apply for postgraduate doctoral study &raquo;</a>

    </div>
    <div class="applyFindCourseContainer">
        <div class="applyFindCourseContainerTextContainer">
            <h1 class="applyFindCourseContainerText1">Find a course</h1>
            <p class="applyFindCourseContainerText2">The journey to Community College starts with finding a course that fits you – whether you’re attending university for the first time or you want to build on a degree you already have.</p>
            <a href="" class="applyFindCourseContainerBtn">Search our courses &raquo;</a>    
        </div>
        <div class="applyFindCourseContainerImageContainer">
            <img src="{% static 'images/study1.jpg' %}" alt="" class="applyFindCourseContainerImage">
        </div>

    </div>

    <div class="meetSomeoneAtCommunityCollege">
        <h1 class="meetSomeoneAtCommunityCollegeText1">The <span class="meetSomeoneAtCommunityCollegeText2">most interesting person</span> you'll meet at Community College USA?</h1>
        <h3 class="meetSomeoneAtCommunityCollegeText3">Your future self. That's why our admissions process is designed to help us explore your potential and better understand the match between you and the education we provide. </h3>
    </div>

    <div class="applyCard">
        <div class="applyCardContainer">
            <h1 class="applyCardContainerHeading"> Undergraduate study</h1>
            <img src="{% static 'images/apply1.jpg' %}" alt="" class="applyCardContainerImage">
            <p class="applyCardContainerText">Find out more about applying for undergraduate study.</p>
            <a href="" class="applyCardContainerBtn">Application process</a>
            <a href="" class="applyCardContainerBtn">Entry requirements</a>
            <a href="" class="applyCardContainerBtn">Key deadlines</a>
        </div>
        <div class="applyCardContainer">
            <h1 class="applyCardContainerHeading"> Postgraduate taught study</h1>
            <img src="{% static 'images/apply2.jpg' %}" alt="" class="applyCardContainerImage">
            <p class="applyCardContainerText">Find out more about applying for Master's study.</p>
            <a href="" class="applyCardContainerBtn">Application process</a>
            <a href="" class="applyCardContainerBtn">Entry requirements</a>
            <a href="" class="applyCardContainerBtn">Key deadlines</a>
        </div>
        <div class="applyCardContainer">
            <h1 class="applyCardContainerHeading"> Postgraduate doctoral study</h1>
            <img src="{% static 'images/apply3.jpg' %}" alt="" class="applyCardContainerImage">
            <p class="applyCardContainerText">Find out more about applying for postgraduate doctoral study.</p>
            <a href="" class="applyCardContainerBtn">Application process</a>
            <a href="" class="applyCardContainerBtn">Entry requirements</a>
            <a href="" class="applyCardContainerBtn">Key deadlines</a>
        </div>
    </div>


</section>
{% endblock content%}