{% extends 'base.html' %}
{% load static %}

{% block content%}

<section class="applicationFormUG">
<h3 class="form_title">Undergraduate Application Form</h3>
<!-- <p class="">your journey towards becoming an Imperial College Student begins here...</p> -->


    <form method="post" enctype="multipart/form-data" class="custom_form">
        {% csrf_token %}

 {% include 'management/partials/form_fields_template.html' with form=form %}
  <!-- MESSAGES -->
<div>
 {% if messages %}
   {% for message in messages %}
     <div class="form_messages">
       {{ message }}
     </div>
   {% endfor %}
{% endif %}
</div>
<!-- MESSAGES -->

 <button type="submit" class="btn">Submit</button>
</form>

</section>


        <!-- Exluding footer -->
        {% block footer %} 
        {% endblock footer %}
        
        {% endblock content%}