
   
<h3 class="form_title">Manage Aspirant Addmission | Aspirant Session List</h3>
   
<div class="tableContainer">
   <div class="tableHeading">
       <span class="tableHeading10">SN</span>
       <span class="tableHeading1">Session</span>

       <span class="tableHeading1">Addmission</span>
   </div>
   {% if session  %}
         {% for session in session %}
   <div class="tableData">
       <span class="tableHeading10">{{ forloop.counter }}</span>
       <span class="tableHeading1">{{session.session}}</span>
       <span class="tableHeading1"> 
        <a href="{% url  'admin_addmissions_courses' session.id %}" class="tableBtn1 ajax_link">Proceed</a> 

       </span>
   </div>

   {% endfor %}
   {% else %}
           <h2>No session available</h2>
   {% endif %}
