
{% extends 'base.html' %}
{% load static %}


{% block content %}
{% block header %} 
{% endblock header %}


<section class="studentadmin">
    <div class="topstudentadminContainerNav">
        <div class="topstudentadminContainerNavLeft"> 
            <h1>Student portal</h1>
        </div>
        <div class="topstudentadminContainerNavRight">
            <h1>Student Dashboard</h1>
            
        </div>
    </div>
    
    <div class="studentadminContainer">
       <!-- Side nav start -->
          <div class="leftNavContainer">
             {% include 'includes/hamburger_nav.html' with nav_links='includes/studentportal_nav_links.html' %}
          </div>
      <!-- Side nav end -->
        
        <div class="rightNavContainer" id="ajaxContainer">

          <h1>Main content</h1>
           
        </div>
    </div>
</section>

        <!-- Exluding footer -->
        {% block footer %} 
        {% endblock footer %}
        



{% endblock content%}
