
{% extends 'base.html' %}
{% load static %}


{% block content %}
{% block header %} 
{% endblock header %}


<section class="studentadmin">
    <div class="topstudentadminContainerNav">
        <div class="topstudentadminContainerNavLeft"> 
            <h1>Student portal</h1>
        </div>
        <div class="topstudentadminContainerNavRight">
            <h1>Student Dashboard</h1>
            
        </div>
    </div>
    
    <div class="studentadminContainer">
        <div class="leftNavContainer">
            <a class="leftNavContainerBtn" href="{% url 'student_portal' %}">
                <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
            <a class="leftNavContainerBtn ajax_link" href="{% url 'course_registration' %}">
                <i class="fas fa-user-plus"></i> Course Registration
            </a>
            <a class="leftNavContainerBtn ajax_link" href="{% url 'student_available_course' %}">
                <i class="fas fa-user-plus"></i> Available Courses
            </a>
            <a class="leftNavContainerBtn ajax_link" href="{% url 'register_courses' %}">
                <i class="fas fa-user-plus"></i> Register Semester Course
            </a>
            <a class="leftNavContainerBtn ajax_link" href="{% url 'registered_courses' %}">
              <i class="fas fa-user-plus"></i> Registered Courses
          </a>
          <a class="leftNavContainerBtn ajax_link" href="{% url 'previous_registered_courses' %}">
            <i class="fas fa-user-plus"></i> Previous Registered Courses
        </a>
            <a class="leftNavContainerBtn" href="{% url 'logout_user' %}">
                <i class="fas fa-briefcase"></i> Logout
            </a>
        </div>
        
        <div class="rightNavContainer" id="ajaxContainer">

          <h1>Main content</h1>
            <!-- AJAX content will load here -->
        </div>
    </div>
</section>

        <!-- Exluding footer -->
        {% block footer %} 
        {% endblock footer %}
        



{% endblock content%}
