{% extends 'base.html' %}
{% load static %}



{% block content %}
{% block header %} 
{% endblock header %}




    <section class="admin">
        <div class="topAdminContainerNav">
            <div class="topAdminContainerNavLeft"> 
                <h1>Admin Panel</h1>
            </div>
            <div class="topAdminContainerNavRight">
                <h1>NonAcademic Staff Dashboard</h1>
            </div>

        </div> 
        
        <div class="adminContainer">
             <!-- Side nav start -->
             <div class="leftNavContainer">
                {% include 'includes/hamburger_nav.html' with nav_links='includes/nonacdstaff_nav_links.html' %}
              </div>
            <!-- Side nav end -->
              
            <div class="rightContentContainer" id="ajaxContainer">      
             
                
            </div>
        
           
        </div>


    </section>
        <!-- Exluding footer -->
{% block footer %} 
{% endblock footer %}

{% endblock content%}