{% extends 'base.html' %}

<!-- Excluding header  -->
{% block content %}
{% block header %} 
{% endblock header %}

<div class="academicstaffList">

    <a class="" href="{% url 'management_home'%}">Dashboard</a>

    
    <div class="tableContainer">
      <div class="tableHeading">
          <span class="tableHeading1">SN</span>
          <span class="tableHeading2">Full Name</span>
          <span class="tableHeading3">Email</span>
          <span class="tableHeading4">Gender</span>
          <span class="tableHeading5">Edit</span>
      </div>
      {% if academicstaffs %}
            {% for academicstaff in academicstaffs %}
      <div class="tableData">
          <span class="tableHeading1">{{ forloop.counter }}</span>
          <span class="tableHeading2">{{academicstaff.first_name}} {{academicstaff.last_name}}</span>
          <span class="tableHeading3">{{academicstaff.email}}</span>
          <span class="tableHeading4">{{academicstaff.gender}}</span>
          <span class="tableHeading5"> <a href="{% url 'edit_academicstaff' academicstaff.academicstaff.id %}">Edit</a> - <a href="{% url 'delete_academicstaff' academicstaff.academicstaff.id %}" onclick="return confirm('Confirm Delete')">Delete</a></span>
          
      </div>

      {% endfor %}
      {% else %}
              <h2>No academicstaff available</h2>
      {% endif %}
    </div>

</div>
    <!-- Exluding footer -->
    {% block footer %} 
    {% endblock footer %}
    
    {% endblock content%}