
<h1 class="form_title">Welcome to Chat Dashboard</h1>
<div class="generalAdminLinkContainer">

    <div class="tableContainer">
        <div class="tableHeading">
            <span class="tableHeading10">SN</span>
            <span class="tableHeading1">LINK NAME</span>
            <span class="tableHeading1">NAVIGATION</span>
        </div>
        <div class="tableData">
            <span class="tableHeading10">1</span>
            <span class="tableHeading1">List of Student in class to chat with privately</span>
            <span class="tableHeading1"><a href="{% url 'student_chat_student_list' %}" class=" generalAdminBtn ajax_link">Student List</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading10">2</span>
            <span class="tableHeading1">Group Chat for your class</span>
            <span class="tableHeading1"><a href="{% url 'student_available_group_rooms' %}" class=" generalAdminBtn ajax_link">View</a></span>
        </div>
        
      </div>
    </div>
    