
  <h3 class="form_title">Edit Profile</h3>
  
  <form  onsubmit="this.querySelector('button[type=submit]').disabled = true;"  method="post" class="ajax_form custom_form" action="{% url 'edit_student' %}">
      
    {% csrf_token %}
    {% include 'management/partials/form_fields_template.html' with form=form %}
     <!-- MESSAGES -->
 <div>
  {% if messages %}
    {% for message in messages %}
      <div class="form_messages">
        {{ message }}
      </div>
    {% endfor %}
{% endif %}
</div>
<!-- MESSAGES -->
  
    <button type="submit" class="btn">Update Profile</button>
  </form>
  <div id="ajax_form_response"></div>
  <br>
  <br>


