<h2>{{ level }} Level - {{ semester }} Semester ({{ session }})</h2>

<div class="registeredCourseList">
  <div class="tableContainer">
    <div class="tableHeading">
      <span class="tableHeading1">SN</span>
      <span class="tableHeading2">Title</span>
      <span class="tableHeading3">Code</span>
      <span class="tableHeading4">Category</span>
      <span class="tableHeading5">Unit</span>
    </div>

    {% if courses %}
      {% for item in courses %}
      <div class="tableData">
        <span class="tableHeading1">{{ forloop.counter }}</span>
        <span class="tableHeading2">{{ item.course.title }}</span>
        <span class="tableHeading3">{{ item.course.code }}</span>
        <span class="tableHeading4">{{ item.course.category }}</span>
        <span class="tableHeading5">{{ item.course.unit }}</span>
      </div>
      {% endfor %}
    {% else %}
      <h2>No courses found</h2>
    {% endif %}
  </div>
</div>
