  <a class="leftNavContainerBtn" href="{% url 'management_home' %}">
    <i class="fas fa-tachometer-alt icon-blue"></i> Dashboard
  </a>

  <a class="leftNavContainerBtn ajax_link" href="{% url 'admin_addmissions' %}">
    <i class="fas fa-user-plus icon-green"></i> Admissions
  </a>
  <a class="leftNavContainerBtn ajax_link" href="{% url 'admin_student_course_registration' %}">
    <i class="fas fa-book-open icon-yellow"></i> Student Course Registration
  </a>

  <a class="leftNavContainerBtn ajax_link" href="{% url 'admin_chat_management' %}">
    <i class="fas fa-comments icon-cyan"></i> Student Chat
  </a>

  <a class="leftNavContainerBtn ajax_link" href="{% url 'admin_academic_course' %}">
    <i class="fas fa-book-open icon-yellow"></i> Academic Course
  </a>

  <a class="leftNavContainerBtn ajax_link" href="{% url 'admin_student_school_fees_management' %}">
    <i class="fas fa-money-bill-wave icon-teal"></i> School Fees
  </a>

  <a class="leftNavContainerBtn ajax_link" href="{% url 'admin_session_and_academic_calender' %}">
    <i class="fas fa-calendar-alt icon-purple"></i> Session & Calendar
  </a>

  <a class="leftNavContainerBtn ajax_link" href="{% url 'admin_department_and_faculty' %}">
    <i class="fas fa-building icon-orange"></i> Department & Faculty
  </a>

  <a class="leftNavContainerBtn ajax_link" href="{% url 'admin_aspirant_management' %}">
    <i class="fas fa-user-graduate icon-red"></i> Aspirant Management
  </a>

  <a class="leftNavContainerBtn ajax_link" href="{% url 'admin_student_management' %}">
    <i class="fas fa-users icon-teal"></i> Student Management
  </a>

  <a class="leftNavContainerBtn ajax_link" href="{% url 'admin_academic_staff' %}">
    <i class="fas fa-chalkboard-teacher icon-indigo"></i> Academic Staff
  </a>

  <a class="leftNavContainerBtn ajax_link" href="{% url 'admin_nonacademic_staff' %}">
    <i class="fas fa-user-tie icon-pink"></i> NonAcademic Staff
  </a>

  <a class="leftNavContainerBtn ajax_link" href="{% url 'admin_result_and_assessment' %}">
    <i class="fas fa-clipboard-check icon-dark-green"></i> Results & Assessment
  </a>

  <a class="leftNavContainerBtn" href="{% url 'logout_user' %}">
    <i class="fas fa-sign-out-alt icon-danger"></i> Logout
  </a>
