<footer class="footer">
    <div class="footerGrid1 ">
        <div class=" footerGrid1Row flexGrow1">          
             <a href="" class="btnWhite footerGrid1RowHeader">Information for </a> 
            <a href="" class="btnWhite">Prospective students</a>
            <a href="" class="btnWhite">Alumni</a>
            <a href="" class="btnWhite">Jobs</a>
            <a href="" class="btnWhite">Partners and business</a>
            <a href="" class="btnWhite">Media</a>
            <a href="" class="btnWhite">Donors</a>
            <a href="" class="btnWhite">Parents</a>
            <a href="" class="btnWhite">Conference organisers</a>

        </div>
        <div class=" footerGrid1Row flexGrow1">          
             <a href="" class="btnWhite footerGrid1RowHeader">Information for </a> 
            <a href="" class="btnWhite">Prospective students</a>
            <a href="" class="btnWhite">Alumni</a>
            <a href="" class="btnWhite">Jobs</a>
            <a href="" class="btnWhite">Partners and business</a>
            <a href="" class="btnWhite">Media</a>
            <a href="" class="btnWhite">Donors</a>
            <a href="" class="btnWhite">Parents</a>
            <a href="" class="btnWhite">Conference organisers</a>

        </div>
        <div class=" footerGrid1Row flexGrow1">          
             <a href="" class="btnWhite footerGrid1RowHeader">Information for </a> 
            <a href="" class="btnWhite">Prospective students</a>
            <a href="" class="btnWhite">Alumni</a>
            <a href="" class="btnWhite">Jobs</a>
            <a href="" class="btnWhite">Partners and business</a>
            <a href="" class="btnWhite">Media</a>
            <a href="" class="btnWhite">Donors</a>
            <a href="" class="btnWhite">Parents</a>
            <a href="" class="btnWhite">Conference organisers</a>

        </div>
        <div class=" footerGrid1Row flexGrow1">          
             <a href="" class="btnWhite footerGrid1RowHeader">Information for </a> 
            <a href="" class="btnWhite">Prospective students</a>
            <a href="" class="btnWhite">Alumni</a>
            <a href="" class="btnWhite">Jobs</a>
            <a href="" class="btnWhite">Partners and business</a>
            <a href="" class="btnWhite">Media</a>
            <a href="" class="btnWhite">Donors</a>
            <a href="" class="btnWhite">Parents</a>
            <a href="" class="btnWhite">Conference organisers</a>

        </div>
        <div class=" footerGrid1Row flexGrow1">          
             <a href="" class="btnWhite footerGrid1RowHeader">Information for </a> 
            <a href="" class="btnWhite">Prospective students</a>
            <a href="" class="btnWhite">Alumni</a>
            <a href="" class="btnWhite">Jobs</a>
            <a href="" class="btnWhite">Partners and business</a>
            <a href="" class="btnWhite">Media</a>
            <a href="" class="btnWhite">Donors</a>
            <a href="" class="btnWhite">Parents</a>
            <a href="" class="btnWhite">Conference organisers</a>

        </div>
        <div class=" footerGrid1Row flexGrow1">          
             <a href="" class="btnWhite footerGrid1RowHeader">Information for </a> 
            <a href="" class="btnWhite">Prospective students</a>
            <a href="" class="btnWhite">Alumni</a>
            <a href="" class="btnWhite">Jobs</a>
            <a href="" class="btnWhite">Partners and business</a>
            <a href="" class="btnWhite">Media</a>
            <a href="" class="btnWhite">Donors</a>
            <a href="" class="btnWhite">Parents</a>
            <a href="" class="btnWhite">Conference organisers</a>

        </div>
    </div>
    <div class="footerGrid2 ">
        <div class="footerGrid2Row1 flexGrowfooterGrid2Row1" > 
            <div class="SchoolNameFooter">
                Imperial College <br> London                
            </div>
            <div>South Kensington Campus <br>
                London SW7 2AZ, UK <br>
                tel: +44 (0)20 7589 5111
            </div>
            <a href="" class="btnWhite btnCampusMapFotter">Campuses & maps > </a>
        </div>
        <div class="footerGrid2Row2 flexGrowfooterGrid2Row2"  > 
            <div class="bold">Follow Imperial</div>
            <div class="socialIconsContainer">
                <a href="https://www.facebook.com/imperialcollegelondon" class=" btnWhite fa fa-facebook"></a>
                <a href="https://twitter.com/imperialcollege" class="btnWhite fa fa-twitter"></a>
                <a href="https://www.youtube.com/user/imperialcollegevideo" class="btnWhite fa fa-youtube"></a>
                <a href="https://www.linkedin.com/edu/imperial-college-london-12598" class="btnWhite fa fa-linkedin"></a>
                <a href="https://instagram.com/imperialcollege" class="btnWhite fa fa-instagram"></a>
                <a href="#" class="btnWhite fa fa-tiktok"></a>

            </div>
            <div class="footerClosingContainer1">
                <a href="" class="btnWhite linksfooterGrid2Row2">Sitemap</a> &VerticalLine;
                <a href="" class="btnWhite linksfooterGrid2Row2">Accessibility</a>&VerticalLine;
                <a href="" class="btnWhite linksfooterGrid2Row2"> Modern slavery statement </a>&VerticalLine;
                <a href="" class="btnWhite linksfooterGrid2Row2">Privacy notice</a>&VerticalLine;
                <a href="" class="btnWhite linksfooterGrid2Row2">Use of cookies</a>&VerticalLine;
                <a href="" class="btnWhite linksfooterGrid2Row2"> Report incorrect content </a>
            </div>
            <div class="footerClosingContainer2">
                <span>&copy;2023 Imperian College London</span> &VerticalLine;
                <a href="" class="btnWhite">Log in</a>
            

            </div>
        </div>


    </div>



    
</footer>