<footer class="footer">
    <!-- <div class="footerGrid1 ">
        <div class=" footerGrid1Row flexGrow1">          
             <a href="" class="btnWhite footerGrid1RowHeader">Information for </a> 
            <a href="" class="btnWhite">Prospective students</a>
            <a href="" class="btnWhite">Alumni</a>
            <a href="" class="btnWhite">Jobs</a>
            <a href="" class="btnWhite">Partners and business</a>
            <a href="" class="btnWhite">Media</a>
            <a href="" class="btnWhite">Donors</a>
            <a href="" class="btnWhite">Parents</a>
            <a href="" class="btnWhite">Conference organisers</a>

        </div>
        <div class=" footerGrid1Row flexGrow1">          
             <a href="" class="btnWhite footerGrid1RowHeader">Information for </a> 
            <a href="" class="btnWhite">Prospective students</a>
            <a href="" class="btnWhite">Alumni</a>
            <a href="" class="btnWhite">Jobs</a>
            <a href="" class="btnWhite">Partners and business</a>
            <a href="" class="btnWhite">Media</a>
            <a href="" class="btnWhite">Donors</a>
            <a href="" class="btnWhite">Parents</a>
            <a href="" class="btnWhite">Conference organisers</a>

        </div>
        <div class=" footerGrid1Row flexGrow1">          
             <a href="" class="btnWhite footerGrid1RowHeader">Information for </a> 
            <a href="" class="btnWhite">Prospective students</a>
            <a href="" class="btnWhite">Alumni</a>
            <a href="" class="btnWhite">Jobs</a>
            <a href="" class="btnWhite">Partners and business</a>
            <a href="" class="btnWhite">Media</a>
            <a href="" class="btnWhite">Donors</a>
            <a href="" class="btnWhite">Parents</a>
            <a href="" class="btnWhite">Conference organisers</a>

        </div>
        <div class=" footerGrid1Row flexGrow1">          
             <a href="" class="btnWhite footerGrid1RowHeader">Information for </a> 
            <a href="" class="btnWhite">Prospective students</a>
            <a href="" class="btnWhite">Alumni</a>
            <a href="" class="btnWhite">Jobs</a>
            <a href="" class="btnWhite">Partners and business</a>
            <a href="" class="btnWhite">Media</a>
            <a href="" class="btnWhite">Donors</a>
            <a href="" class="btnWhite">Parents</a>
            <a href="" class="btnWhite">Conference organisers</a>

        </div>
        <div class=" footerGrid1Row flexGrow1">          
             <a href="" class="btnWhite footerGrid1RowHeader">Information for </a> 
            <a href="" class="btnWhite">Prospective students</a>
            <a href="" class="btnWhite">Alumni</a>
            <a href="" class="btnWhite">Jobs</a>
            <a href="" class="btnWhite">Partners and business</a>
            <a href="" class="btnWhite">Media</a>
            <a href="" class="btnWhite">Donors</a>
            <a href="" class="btnWhite">Parents</a>
            <a href="" class="btnWhite">Conference organisers</a>

        </div>
        <div class=" footerGrid1Row flexGrow1">          
             <a href="" class="btnWhite footerGrid1RowHeader">Information for </a> 
            <a href="" class="btnWhite">Prospective students</a>
            <a href="" class="btnWhite">Alumni</a>
            <a href="" class="btnWhite">Jobs</a>
            <a href="" class="btnWhite">Partners and business</a>
            <a href="" class="btnWhite">Media</a>
            <a href="" class="btnWhite">Donors</a>
            <a href="" class="btnWhite">Parents</a>
            <a href="" class="btnWhite">Conference organisers</a>

        </div>
    </div> -->
    <div class="footerGrid2 ">
        <div class="footerGrid2Row1 flexGrowfooterGrid2Row1" > 
            <div class="SchoolNameFooter">
                Community College  <br> USA                
            </div>
            <div>South Campus <br>
                Florida SW7 2AZ, USA <br>
                tel: +1 (0)20 7589 5111
            </div>
            <a href="" class="btnWhite btnCampusMapFotter">Campuses & maps > </a>
        </div>
        <div class="footerGrid2Row2 flexGrowfooterGrid2Row2"  > 
            <div class="bold">Follow Community College USA           <div class="socialIconsContainer">
                <i class="fa fa-facebook btnWhite"></i>
                <i class="fa fa-twitter btnWhite"></i>
                <i class="fa fa-youtube btnWhite"></i>
                <i class="fa fa-linkedin btnWhite"></i>
                <i class="fa fa-instagram btnWhite"></i>
                <i class="fa fa-tiktok btnWhite"></i>

            </div>
            <div class="footerClosingContainer1">
                <a href="" class="btnWhite linksfooterGrid2Row2">Sitemap</a> &VerticalLine;
                <a href="" class="btnWhite linksfooterGrid2Row2">Accessibility</a>&VerticalLine;
                <a href="" class="btnWhite linksfooterGrid2Row2"> Modern slavery statement </a>&VerticalLine;
                <a href="" class="btnWhite linksfooterGrid2Row2">Privacy notice</a>&VerticalLine;
                <a href="" class="btnWhite linksfooterGrid2Row2">Use of cookies</a>&VerticalLine;
                <a href="" class="btnWhite linksfooterGrid2Row2"> Report incorrect content </a>
            </div>
            <div class="footerClosingContainer2">
                <span>&copy;2025 Community College USA</span> &VerticalLine;
                <a href="{% url 'login_page'%}" class="btnWhite">Login</a>
            

            </div>
        </div>


    </div>



    
</footer>