
<h3 class="form_title">Courses with Applicants - Session {{ session.session }}</h3>

<div class="tableContainer">
   <div class="tableHeading">
       <span class="tableHeading1">SN</span>
       <span class="tableHeading2">Course of Study</span>
       <span class="tableHeading3">Department</span>
       <span class="tableHeading3">Faculty</span>
       <span class="tableHeading3">Link</span>
   </div>
   {% if courses  %}
         {% for course in courses %}
   <div class="tableData">
       <span class="tableHeading1">{{ forloop.counter }}</span>
       <span class="tableHeading2">{{course.name}}</span>
       <span class="tableHeading3">{{course.department.name}}</span>
       <span class="tableHeading3">{{course.department.faculty.name}}</span>
       <span class="tableHeading3"> 
            <a class=" tableHeading5Btn1 ajax_link" href="{% url 'admissions_applicants' session.id course.id %}">View Applicants</a>
       </span>
   </div>

   {% endfor %}
   {% else %}
           <h2>No Course available</h2>
   {% endif %}
