
<h3 class="form_title">Applicants for {{ course.name }} - Session {{ session.session }}</h3>
<!-- Back Btn start -->
<a class=" tableBtn1 ajax_link" href="{% url 'nonacdstaff_addmissions_courses' session.id %}">
  <i class="fas fa-arrow-left"></i> Back
</a>
<!-- Back Btn end -->
<div class="tableContainer">
  <div class="tableHeading">
      <span class="tableHeading10">SN</span>
      <span class="tableHeading1">Full Name</span>
      <span class="tableHeading1">Email</span>
      <span class="tableHeading1">Gender</span>
      <span class="tableHeading1">Addmission</span>
      <span class="tableHeading1">Status</span>
  </div>

  {% if applicants %}
    {% for aspirant in applicants %}
      <div class="tableData">
          <span class="tableHeading10">{{ forloop.counter }}</span>
          <span class="tableHeading1">{{ aspirant.admin.first_name }} {{ aspirant.admin.last_name }}</span>
          <span class="tableHeading1">{{ aspirant.admin.email }}</span>
          <span class="tableHeading1">{{ aspirant.admin.gender }}</span>
          <span class="tableHeading1">{{ aspirant.admission_status }}</span>
          <span class="tableHeading1"> 
              <a href="{% url 'nonacdstaff_change_addmission_status' aspirant.id %}" class="tableBtn1 ajax_link">Change Status</a>  
          </span>
      </div>
    {% endfor %}
  {% else %}
      <h2>No aspirant available</h2>
  {% endif %}
</div>
