<!-- <div>

<h1>Session and Calender</h1>
    Add Academic Session

Set Current Academic Calendar

View Past Sessions

Semester Settings

Resume Date / Close Date
</div> -->

<div class="generalAdminLinkContainer">

    <div class="tableContainer">
        <div class="tableHeading">
            <span class="tableHeading1">SN</span>
            <span class="tableHeading2">LINK NAME</span>
            <span class="tableHeading5">NAVIGATION</span>
        </div>
        <div class="tableData">
            <span class="tableHeading1">1</span>
            <span class="tableHeading2">Academic Calender</span>
            <span class="tableHeading5"><a href="{% url 'add_academic_calender' %}" class=" generalAdminBtn ajax_link">Add Academic Calender</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading1">2</span>
            <span class="tableHeading2">Manage Academic Calender</span>
            <span class="tableHeading5"><a href="{% url 'manage_academic_calender' %}" class=" generalAdminBtn ajax_link">Manage Academic Calender</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading1">3</span>
            <span class="tableHeading2">Assign Level Course</span>
            <span class="tableHeading5"><a href="{% url 'assign_level_course' %}" class=" generalAdminBtn ajax_link">Assign Level Course</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading1">4</span>
            <span class="tableHeading2">Manage Level Course</span>
            <span class="tableHeading5"><a href="{% url 'manage_level_course' %}" class=" generalAdminBtn ajax_link">Manage Level Course</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading1">5</span>
            <span class="tableHeading2">Course of Study</span>
            <span class="tableHeading5"><a href="{% url 'add_course_of_study' %}" class=" generalAdminBtn ajax_link">Add Course of Study</a></span>
        </div>
        <div class="tableData">
            <span class="tableHeading1">5</span>
            <span class="tableHeading2">Manage Course of Study</span>
            <span class="tableHeading5"><a href="{% url 'manage_course_of_study' %}" class=" generalAdminBtn ajax_link">Manage Course of Study</a></span>
        </div>
    
    
      </div>
    </div>
    