
.row {
    display: flex;   
    
}

    
.research{
    border: 1px solid #0000001a;
    padding: 2rem;
}
.researchContainerGridOne{
    display: flex;
    color: whitesmoke;
    
}
.researchContainerGridTwo{
    margin-top: 1.5rem;
    display: flex;
    color: whitesmoke;
    
}

.researchContainerTwo{
    background-color: #276db2;
    display: flex;
    margin-left: 1rem;

}


.grid2of1{
    background-color: #3b89c8;
}


.grid2of2{
    background-color: #00853E;
}




.linksContainerInStudyWithUS{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #00000052;
    text-align: center;
}

.eventsAndAlumni{
    display: flex;
    flex-wrap: wrap;
    border: 0.5px solid rgba(0, 0, 0, 0.156);
    border-bottom: none;
    padding: 2rem;
}

.eventsContainer{
    flex: 1;
}
.AlumniContainer{
    flex:0 0 25%;
}
.eventsSubContainer{
    display: flex;
    
}


// Resuable Card 1
.CardContainer{
    border: 2px solid rgba(0, 0, 0, 0.123);
    margin-bottom: 2rem;

    
    &Grid{
        display: flex;
        flex-direction: column;    
    }

    &Image{
        object-fit:cover;    
        width: 100%;
        height: 12rem;    
    }
    

    &Grid1{
        font-size: 14px;
        flex: 1;
    }
    &Grid2{
        margin-left: 7px;
        margin-right: 7px;
        font-size: 14px; 
        flex: 1;

    }
    &Grid3{
        font-size: 11px;
        margin-right: 0.8rem;
        flex: 1;
    }
    &Grid4{
        font-size: 14px;
        background-color: #a51900;
        color: white;
    }

    &Text1{
        border: 2px solid rgba(0, 0, 0, 0.279);
        border-top: none;
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        padding-left: 2rem;
        padding-right: 2rem;
        margin-right: -2rem;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: whitesmoke;
        color: black;
        font-weight: bold;
    }
    &Text2{
        background-color: #dd2501;
        padding-left: 2rem;
        padding-right: 1.5rem;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 4.2rem;
        height: 80%;
        clip-path: polygon(20% 0, 100% 0, 85% 100%, 0 100%);
        font-weight: bold;
        font-family: 'Lato', serif;
        border: 2px solid rgba(0, 0, 0, 0.279);
        border-top: none;
        color: white;    
    }
    &Text2Sub{
        background-color: #006eaf;

    }
    &Text3{
        padding: 1rem;
        font-size: 13px;
        display: block;
        margin-bottom: 4rem;
    }
    &Text4{        
        padding: 1rem;
        font-size: 13px;
        display: block;
    }
   
}
.CardContainerGrid1AddMargin{
    margin-right: 2.5rem;
}
// Resusable Card 2
.slimCardContainer{
    display: flex;
    background-color: #00853E;

    &Image{
        object-fit:cover;
        width: 15rem;
        height: 10rem;
        padding-right: 20px;
    }
   
    &TextHeading{
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
    }
    &Text{
        font-size: 15px;
        margin-bottom: 15px;    
    }
    &Btn{
        text-decoration: none;
        color: black;
        color: whitesmoke;
        font-size: 20px;
        font-weight: bold;
    }
}

.slimCardContainerAdjust1{
    background-color: whitesmoke;
    border: 1px solid #00000020;
    margin-bottom: 2rem;
    margin-left: 3rem;
    padding-right: 9rem;

}
.slimCardContainerAdjust2{
    background-color: #002147;
    margin-bottom: 2rem;
    margin-left: 3rem;
    padding-right: 9rem;
    color: white;


}
.eventExhibitionTextContainer{
    border: 2px solid black;

}


.eventGrid3Text{
    padding-left: 15px;
    padding-right: 15px;

    
}
.newsHome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;



    &Grid1{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        

    }

    &Grid2{
        display: flex;
        flex-direction: column;    
        align-items: flex-start;


    }
}

.homeNewsGreen{
    background-color: #00853E;
}
.homeNewsCardTextContainer{
    width: 14.5rem;
    height: 10rem;
    font-size: 15px;
    margin: 15px;
    margin-left: 0;
    border-right: 1px solid white;
    font-weight: bold;text-align: center;



}
.slimCardContainerImageNewsSection{
    margin-right: 15px;
}
.slimCardContainerTextNewsSection{
    margin-top: 15px;

}