
<h2 class="form_title"> List of {{department_fee.department}} School Fees List  </h2>
<!-- Back Btn start -->
<a class=" tableBtn1 ajax_link" href="{% url 'admin_manage_department_school_fees' %}">
    <i class="fas fa-arrow-left"></i> Back
</a>
<!-- Back Btn end -->

  <div class="tableContainer">
     <div class="tableHeading">
         <span class="tableHeading10">SN</span>
         <span class="tableHeading1">Title</span>
         <span class="tableHeading1">Amount</span>
     </div>
     {% if fee_item  %}
           {% for item in fee_item %}
     <div class="tableData">
         <span class="tableHeading10">{{ forloop.counter }}</span>
         <span class="tableHeading1">{{item.title}}</span>
         <span class="tableHeading1">{{item.amount}}</span>
     </div>
  
     {% endfor %}
     <!-- Total Row -->
    <div class="tableData" style="font-weight: bold; border-top: 1px solid #ccc; margin-top: 10px;">
        <span class="tableHeading10"></span>
        <span class="tableHeading1">Total</span>
        <span class="tableHeading1">₦{{ department_fee.total_amount }}</span>
      </div>
     {% else %}
          <p>No Item has been added to list.</p>
  
     {% endif %}
  
  