.btnCourses{
    color: whitesmoke;
    background-color: #F04A00;
}

.btnInStudyWithUs{
    flex-grow: 1;
    text-decoration: none;
    border: 2px solid #0000001a;
    
}


.eventHeadingBtn{
    font-size: 16px;
    font-weight: bold;
}
.btnNewsHomeMakeAGift{
    font-size: 17px;
    font-weight: bold;

}
.loginBackBtn{
    text-decoration: none;
    padding: 10px;
    background-color: #002147;
    color: whitesmoke;
    font-size: 14px;
}
.loginResetPassBtn{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    color: #002147;
    font-size: 14px;
    font-weight: bold;
}
.loginSignInBtn{
    text-decoration: none;
    padding: 10px;
    background-color: #003e74;
    color: whitesmoke;
    font-size: 14px;
    margin-bottom: 4rem;
}
