@use "../base/media"; 

.eventHeadingBtn{
  font-size: 16px;
  font-weight: bold;
}
.btnNewsHomeMakeAGift{
  font-size: 17px;
  font-weight: bold;

}
.loginBackBtn{
  text-decoration: none;
  padding: 10px;
  background-color: #002147;
  color: whitesmoke;
  font-size: 14px;
}
.loginResetPassBtn{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  color: #002147;
  font-size: 14px;
  font-weight: bold;
}
.loginSignInBtn{
  text-decoration: none;
  padding: 10px;
  background-color: #003e74;
  color: whitesmoke;
  font-size: 14px;
  margin-bottom: 4rem;
}

.generalAdminBtn{
  background-color: #2a5c80;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 4px;
  padding: 10px;
  font-size: 30px;
  font-family: Times;
  text-align: center;
  display: block;
  @include media.down("sm") {  
    font-size: 9px;
      
    }

  &:hover {
      background-color: #e0f7fa;
      border-left: 4px solid #00acc1;
      color: #004d40;
    }



}
.tableBtn1 {
  background-color: #3498db;
  color: black;
  padding: 6px;
  text-decoration: none;
  border-radius: 2px;
  font-size: 19px;
  margin-right: 0.5rem;
  margin-bottom: 6px;


  @include media.down("sm") {  
    font-size: 10px;
    display: inline-block;
      
    }

  &:hover {
    background-color: white;
    color: black;
  }
}

.tableBtn2 {
  background-color: #7c2217;
  color: whitesmoke;
  padding: 6px;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  font-size: 19px;

  @include media.down("sm") {  
    font-size:9px;
      
    }

  &:hover {
    background-color: red;
  }
}

