.img1{
    object-fit:cover;
    width: 82px;
    height: 65px;
    padding-right: 5px;
}

.homebg{
    width: 100%;
    height: 95vh;
    object-fit: cover;
    object-position: center;
    display: block;
}

