
.tableContainer{
    padding: 50px;
}
.tableHeading{
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(255, 255, 255, 0.193);
    border-bottom: none;
    padding: 8px;
    font-weight: bold;
    

    &1{
        flex: 0 0 10%;
        padding: 8px;

        
    }
    &2{
        flex: 1;
        padding: 8px;


    }&3{
        flex: 1;
        padding: 8px;

        
    }&4{
        flex: 0 0 10%;
        padding: 8px;


    }&5{
        flex: 1;
        padding: 8px;

        &Btn1{
            background-color: #3498db;
            color: black;
            padding: 6px;
            text-decoration: none;
            border-radius: 2px;

            &:hover{
                background-color: white;
                color: black;
            }
        }
        &Btn2{
            background-color: #e74c3c;
            color: black;
            padding: 6px;
            text-decoration: none;
            border-radius: 2px;

            &:hover{
                background-color: red;
            }
        }
    }
}

.tableData{
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(255, 255, 255, 0.199);
    border-bottom: none;
    padding: 8px;
    font-size: 20px;
}
.tableData:last-child{
    border-bottom: 2px solid rgba(255, 255, 255, 0.203);
}