.btnWhite{
    color: white;
    text-decoration: none;

    
}
.btnBlack{
    color: black;
    text-decoration: none;
}
.TextWhite{
    color: white
}
.TextBlack{
    color: black;
}

.flexGrow1{
    flex-grow: 1;
}


.bold{
    font-weight: bold;
    font-size: 15px;

}


.colorWhite{
    color: white;
}

