 <!-- MESSAGES -->
 <div>
  {% if messages %}
    {% for message in messages %}
      <div class="form_messages">
        {{ message }}
      </div>
    {% endfor %}
{% endif %}
</div>
<!-- MESSAGES -->
<h3 class="form_title">Edit Course</h3>

<form method="post" class="ajax_form custom_form" action="{% url 'edit_course' course.id %}">
  {% csrf_token %}
  {% include 'management/partials/form_fields_template.html' with form=form %}

  <button type="submit" class="btn">Update Course</button>
</form>
<div id="ajax_form_response"></div>
