   <h3 class="form_title">Manage Course | Course List</h3>
   <!-- Back Btn start -->
   <a class=" tableBtn1 ajax_link" href="{% url 'admin_academic_course' %}">
    <i class="fas fa-arrow-left"></i> Back
</a>
<!-- Back Btn end -->
   <div class="tableContainer">
      <div class="tableHeading">
          <span class="tableHeading10">SN</span>
          <span class="tableHeading1">Title</span>
          <span class="tableHeading15">Code</span>
          <span class="tableHeading15">Level</span>

          <span class="tableHeading1">Department</span>
          <span class="tableHeading20">Edit/Delete</span>
      </div>
      {% if course  %}
            {% for course in course %}
      <div class="tableData">
          <span class="tableHeading10">{{ forloop.counter }}</span>
          <span class="tableHeading1">{{course.title}}</span>
          <span class="tableHeading15">{{course.code}}</span>
          <span class="tableHeading15">{{course.level}}</span>

          <span class="tableHeading1">{{course.department}}</span>
          <span class="tableHeading20"> 

            <a href="{% url  'admin_edit_course' course.id %}" class="tableBtn1 ajax_link">Edit</a> - 
            <form method="post" class="ajax_form  ajax_delete_form" action="{% url 'admin_delete_course' course.id %}">
              {% csrf_token %}
              <button type="submit" class="tableBtn2">Delete</button>
          </form>
          </span>
      </div>

      {% endfor %}
      {% else %}
              <h2>No Course available</h2>
      {% endif %}
