<h3 class="form_title">Manage Student | Student List</h3>
<!-- Back Btn start -->
<a class=" tableBtn1 ajax_link" href="{% url 'admin_student_management' %}">
  <i class="fas fa-arrow-left"></i> Back
</a>
<!-- Back Btn end -->
<div class="tableContainer">
  <div class="tableHeading">
      <span class="tableHeading10">SN</span>
      <span class="tableHeading1">Full Name</span>
      <span class="tableHeading1">Email</span>
      <span class="tableHeading15">Gender</span>
      <span class="tableHeading20">Edit/Delete</span>
  </div>

  {% if students %}
    {% for student in students %}
      <div class="tableData">
          <span class="tableHeading10">{{ forloop.counter }}</span>
          <span class="tableHeading1">{{ student.admin.first_name }} {{ student.admin.last_name }}</span>
          <span class="tableHeading1">{{ student.admin.email }}</span>
          <span class="tableHeading15">{{ student.admin.gender }}</span>
          <span class="tableHeading20"> 
              <a href="{% url 'admin_edit_student' student.id %}" class="tableBtn1 ajax_link">Edit</a> - 
              <form method="post" class="ajax_form ajax_delete_form" 
                  onsubmit="this.querySelector('button[type=submit]').disabled = true;"      
                  action="{% url 'admin_delete_student' student.id %}"                  
                >
                  {% csrf_token %}
                  <button type="submit" class="tableBtn2">Delete</button>
              </form>
          </span>
      </div>
    {% endfor %}
  {% else %}
      <h2>No Student available</h2>
  {% endif %}
</div>
