
<h3 class="form_title">Edit Aspirant Academic Calender</h3>
 <!-- Back Btn start -->
 <a class=" tableBtn1 ajax_link" href="{% url 'admin_manage_aspirant_academic_calender' %}">
  <i class="fas fa-arrow-left"></i> Back
</a>
<!-- Back Btn end -->

<form method="post" class="ajax_form custom_form" 
  action="{% url 'admin_edit_aspirant_academic_calender' aspirant_academic_calender.id %}"
  onsubmit="this.querySelector('button[type=submit]').disabled = true;"
>
  {% csrf_token %}
  {% include 'management/partials/form_fields_template.html' with form=form %}

 <!-- MESSAGES -->
 <div>
  {% if messages %}
    {% for message in messages %}
      <div class="form_messages">
        {{ message }}
      </div>
    {% endfor %}
{% endif %}
</div>
<!-- MESSAGES -->

  <button type="submit" class="btn">Update Calender</button>
</form>
<div id="ajax_form_response"></div>
