
<h3 class="form_title">Manage Academic Calender | Academic Calender List</h3>
 <!-- Back Btn start -->
 <a class=" tableBtn1 ajax_link" href="{% url 'admin_session_and_academic_calender' %}">
  <i class="fas fa-arrow-left"></i> Back
</a>
<!-- Back Btn end -->

   <div class="tableContainer">
      <div class="tableHeading">
          <span class="tableHeading10">SN</span>
          <span class="tableHeading1">Session</span>
          <span class="tableHeading1">Edit/Delete</span>


      </div>
      {% if aspirant_academic_calender  %}
            {% for aspirant_academic_calender in aspirant_academic_calender %}
      <div class="tableData">
          <span class="tableHeading10">{{ forloop.counter }}</span>
          <span class="tableHeading1">{{aspirant_academic_calender.session}}</span>

          <span class="tableHeading1"> 

            <a href="{% url  'admin_edit_aspirant_academic_calender' aspirant_academic_calender.id %}" class="tableBtn1 ajax_link">Edit</a> 

          </span>
      </div>

      {% endfor %}
      {% else %}
              <h2>No Aspirant Academic Calender available</h2>
      {% endif %}
