
<h3 class="form_title">Manage Academic Calender | Academic Calender List</h3>
    <!-- Back Btn start -->
    <a class=" tableBtn1 ajax_link" href="{% url 'admin_session_and_academic_calender' %}">
      <i class="fas fa-arrow-left"></i> Back
  </a>
  <!-- Back Btn end -->
   <div class="tableContainer">
      <div class="tableHeading">
          <span class="tableHeading10">SN</span>
          <span class="tableHeading1">Session</span>
          <span class="tableHeading1">Semester</span>
          <span class="tableHeading1">Edit</span>


      </div>
      {% if academic_calender  %}
            {% for academic_calender in academic_calender %}
      <div class="tableData">
          <span class="tableHeading10">{{ forloop.counter }}</span>
          <span class="tableHeading1">{{academic_calender.session}}</span>
          <span class="tableHeading1">{{academic_calender.semester}}</span>

          <span class="tableHeading1"> 

            <a href="{% url  'admin_edit_academic_calender' academic_calender.id %}" class="tableBtn1 ajax_link">Edit</a> 

          </span>
      </div>

      {% endfor %}
      {% else %}
              <h2>No Academic Calender available</h2>
      {% endif %}
